@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.feature-container4 {
  background-color: $--color-bg-dark;
  padding: 9rem 0;
  @include feature-font;
  a {
    justify-self: self-end;
  }
  article {
    @include feature-article;
    @include container;
    text-align: right;
    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 35rem;
      justify-self: center;
      align-self: center;
      justify-self: center;
      align-self: center;
    }
    div:nth-child(1) {
      display: grid;
      place-content: center;
      position: relative;
    }
    img {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      display: block;
      height: 100%;
      border-radius: 1rem;
      outline: 4px solid #240e64;
    }
    .phone2 {
      scale: 0.8;
      rotate: 5deg;
    }
  }
}


@media (max-width: 1024px) {
  .feature-container4 {
    article {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
      text-align: left;
      a{
        align-self: start !important;
      }
      & > div:nth-child(1){
        grid-row: 2;
        height: 30rem;
      }
      & > div:nth-child(2){
        img{
          transform: translate(-50%, -70%);
        }
        grid-row: 1;
        max-width: 100%;
        // text-align: left;
      }
    }
  }
}
