@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.numbers-container {
  padding: 4rem 0;
  background-color: $--color-bg-dark;
}

.numbers {
  @include container;
  @include feature-font;
  p {
    max-width: 38rem;
    margin-top: 1.5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3.5rem;
    gap: 5rem;
    p {
      font-size: 1rem;
      line-height: 1.6;
    }
  }
}

@media (max-width: 1024px) {
  .numbers {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
