@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.popular-card {
  h3 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
  p {
    margin-bottom: 0.5rem;
    color: $--color-text-gray;
    line-height: 1.5;
  }
  span {
    color: $--color-accent;
    font-weight: 600;
    font-size: 0.75rem;
  }
  img {
    border-radius: 15px;
    height: 12rem;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-10px);
    }
  }
}
