@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.review-profiles {
  span {
    color: $--color-text-gray;
  }

  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-size: 0.875rem;
  .profiles img {
    width: 32px;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
    &:not(:first-child) {
      margin-left: -12px;
    }
  }
  .stars {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 0.1rem;
    span {
      margin-left: 0.5rem;
      font-size: 1rem;
    }
    img {
      width: 20px;
    }
  }
}
